/* @import "primeng/resources/themes/lara-light-purple/theme.css"; */
/* @import "primeng/resources/primeng.css"; */
/* @import "primeicons/primeicons.css"; */
@import "theme.css";

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

:root {
    --window-bar-height: 32px;
    --sidebar-max-width: 200px;
    --app-grid-gap: .1rem
}

.main {
    height: 100%;
    margin: 0;
    border-radius: var(--border-main-radius) var(--border-main-radius) 0 0;
    background-color: var(--bg-secondary);
}

.app-wrapper {
    height: 100%;
    width: 100%;

    display: grid;
    background-color: var(--bg-secondary);
    
    column-gap: var(--app-grid-gap);
    row-gap: var(--app-grid-gap);
    grid-template-rows: auto calc(100vh - var(--window-bar-height));
    grid-template-columns: auto calc(100vw - var(--sidebar-max-width));
}

/* Grid */
.navbar {
    grid-area: 1 / 1 / 1 / 3;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.sidebar {
    grid-area: 2 / 1 / 3 / 1;
    height: 100%;
    max-width: var(--sidebar-max-width);
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

.main {
    grid-area: 2 / 2 / 3 / 3;
    height: 100%;
}

/* Inputs */
input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

/* Buttons */
button {
    background-color: var(--info);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--info-hover);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    border-radius: 8px;
    width: 10px;  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--bg-secondary);  /* color of the tracking area */
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-primary);  /* color of the scroll thumb */
    border-radius: 8px;
    border: 2px solid var(--bg-secondary);  /* creates padding around scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-hover);  /* color of the scroll thumb when hovering */
}

/* For Firefox */
* {
    scrollbar-width: thin;  /* "auto" or "thin" */
    scrollbar-color: var(--accent-primary) var(--bg-secondary);  /* thumb and track color */
}
