main {
    user-select: none;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.drag { -webkit-app-region: drag; }
.no-drag { -webkit-app-region: no-drag; }

.logo {
    --logo-size: 16px;
    width: var(--logo-size);
    height: var(--logo-size);
    background-image: url("assets/icons/icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.window-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    margin-left: 1rem;
}

.title {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.01rem;
    color: var(--text-secondary);
}

.window-menu {
    list-style: none;
    margin: 0 .3rem 0 0;
    justify-self: end;

    li {
        display: inline-block;
        padding: 0 .5rem;
        margin-top: 5px;
    }

    li:hover {
        background-color: var(--bg-tertiary);
    }
}
