<main>
    <div class="reduce-nav">
        reduce
    </div>
    <div class="top-nav">
        <ul class="nav-list">
            <li class="nav-item bottom-divider">
                <a routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/hench/list">Hench list</a>
            </li>
            <li class="nav-item">
                <a routerLink="/hench/tree">Tree view</a>
            </li>
            <li class="nav-item">
                <a routerLink="/hench/calculator">Claculator</a>
            </li>
        </ul>
    </div>
    <div class="bottom-nav">
        <ul class="nav-list">
            <li class="nav-item top-divider">
                <a routerLink="/settings">Settings</a>
            </li>
        </ul>
    </div>
</main>
