<main>
    <div class="login grid-item frosted">
        <login />
    </div>
    <div class="events grid-item frosted">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
    </div>
    <div class="alert grid-item frosted">
        
    </div>
    <div class="particle-container">
        <!-- Adapted from https://csscrafter.com/css-particle-effects/ -->
        <span [style]="style" *ngFor="let style of particles" class="pt"><b></b></span>
    </div>
</main>
